.bg-hero {
  width: 100vw;
  height: 100vh;
  background: #021024;
}

.game-logo {
  width: 100px;
}

* {
  user-select: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-hero {
  background-color: #c38eb4;
  color: #FFF;
}

.btn-hero:hover {
  background-color: #e1cbd7;
  color: #FFF;
}

.game {
  min-width: 80vw;
}

.text-hero {
  text-transform: uppercase;
  font-size: 28px;
  margin: 0;
}

.material-symbols-outlined {
  font-size: 60pt;
  display: flex;
  justify-content: center;
  align-items: center;
}